<div style="text-align:center">
  <h1>
      Welcome to {{ title }}!
  </h1>
</div>

<div style="display:flex;justify-content: space-evenly;">
  <a routerLink="/login">Login</a>
  <a routerLink="/communication">Communication</a>
  <a routerLink="/http">HTTP</a>
  <a routerLink="/pipes">Pipes</a>
  <a routerLink="/directive">Directive</a>
</div>

<router-outlet></router-outlet>
<!-- <app-search-pipe></app-search-pipe> -->
<!-- <app-child2></app-child2> -->
<!-- <app-album-list></app-album-list> -->